<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" >
      Feedbacks
    </a>
    <div class="dropdown-menu" aria-labelledby="feedbackDropdown">
      <a class="dropdown-item" href="/feedbacks">List Feedback</a><br/><br/>
      <a class="dropdown-item" href="/feedbacks/create">Create Feedback</a><br/><br/>
      <a class="dropdown-item" href="/feedbacks/:id">Details Feedback</a><br/><br/>
      <a class="dropdown-item" href="/feedbacks/:id/update">Update Feedback</a><br/><br/>
      <a class="dropdown-item" href="#">Delete Feedback</a><br/><br/>
      <!-- Ajoutez d'autres éléments de menu ici si nécessaire -->
    </div>
  </li>